services:
  - type: web
    name: code-analyser-backend
    runtime: node
    rootDir: backend
    plan: free
    buildCommand: npm ci
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production

  - type: web
    name: code-analyser-frontend
    runtime: static
    rootDir: frontend
    plan: free
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    autoDeploy: true